docs
.Rproj.user/AAA31BEC/pcs/files-pane.pper
.Rproj.user/AAA31BEC/pcs/files-pane.pper
.Rproj.user/AAA31BEC/pcs/source-pane.pper
.Rproj.user/AAA31BEC/pcs/windowlayoutstate.pper
.Rproj.user/AAA31BEC/rmd-outputs
.Rproj.user/AAA31BEC/sources/prop/F7333683
.Rproj.user/AAA31BEC/sources/session-3639E67F/7C18F4F7-contents
.Rproj.user/AAA31BEC/sources/session-3639E67F/DF41466D
.Rproj.user/AAA31BEC/sources/session-3639E67F/DF41466D-contents
.Rproj.user/AAA31BEC/sources/session-3639E67F/E37C99CB-contents
.Rproj.user/AAA31BEC/sources/session-3639E67F/lock_file
.Rhistory
